<template>
  <div>
    <v-btn color="error" @click="resetData"><v-icon>delete</v-icon> В начало</v-btn>
    <v-container fluid fill-height>
      <v-layout justify-center align-center row wrap>
        <v-flex text-xs-center xs12 row wrap>
          <transition name="slide-x-transition" :duration="500" appear mode="out-in">
            <first v-if="lab2chek == 0"></first>
            <addName v-if="lab2chek == 1"></addName>
            <tableK v-if="lab2chek == 2"></tableK>

            <tableA v-for="n in $store.getters.first.K" v-if="lab2chek == (3+(n-1))" :NumberK="n-1"></tableA>\

            <answer v-if="lab2chek >= ($store.getters.first.K + 3)"></answer>
          </transition>
          <v-btn large color="primary" @click="back"><v-icon>chevron_left</v-icon> Назад</v-btn>
          <v-btn large color="primary" @click="next">Далее <v-icon>chevron_right</v-icon></v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import first from './lab2helpers/first.vue'
  import tableA from './lab2helpers/tableA.vue'
  import tableK from './lab2helpers/tableK.vue'
  import addName from './lab2helpers/addName.vue'
  import answer from './lab2helpers/answer.vue'
  export default {
    name: 'lab2',
    data: () => ({
      NowK: 0
    }),
    components: {
      'first': first,
      'tableA': tableA,
      'tableK': tableK,
      'addName': addName,
      'answer': answer
    },
    computed: {
      lab2chek () {
        if (this.$store.getters.lab2 < 0) {
          this.$store.dispatch('incrementLab2', 0)
        } else if (this.$store.getters.lab2 > 3 + this.$store.getters.first.K) {
          this.$store.dispatch('incrementLab2', this.$store.getters.first.K + 3)
        }
        return this.$store.getters.lab2
      }
    },
    methods: {
      resetData () {
        console.log('Reset data vuex for lab2')
        this.$store.dispatch('addValueFirst', {
          A: 0,
          K: 0
        })
        this.$store.dispatch('incrementLab2', 0)
        this.$store.dispatch('Matrix', {
          getVar: 'A',
          Matrix: []
        })
        this.$store.dispatch('Matrix', {
          getVar: 'K',
          Matrix: []
        })
        this.$store.dispatch('SaveNameOfMatrix', {A: [], K: []})
      },
      next () {
        this.$store.dispatch('incrementLab2', (this.$store.getters.lab2 + 1))
        console.log('Next')
        console.log(this.$store.getters.lab2)
      },
      back () {
        this.$store.dispatch('incrementLab2', (this.$store.getters.lab2 - 1))
      }
    }
  }
</script>

<style>

</style>
