<template>
  <v-container fluid fill-height>
    <v-layout justify-center align-center >
      <v-flex text-xs-center>
        <p>Lab3</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'lab3'
  }
</script>

<style scoped>

</style>
