<template>
  <v-layout row justify-center wrap>
    <v-flex md3 xs10>
      <v-text-field v-for="i in A" :label="'A' + i" v-model="items.A[i-1]" required ></v-text-field>
    </v-flex>
    <v-flex md3 offset-md1 xs10>
      <v-text-field v-for="j in K" :label="'K' + j" v-model="items.K[j-1]" required ></v-text-field>
    </v-flex>
    <v-flex xs10>
      <v-btn color="primary" @click="save">Сохранить</v-btn>
    </v-flex>
  </v-layout>

</template>

<script>
  export default {
    name: 'addName',
    data: () => ({
      A: null,
      K: null,
      items: {
        K: [],
        A: []
      }
    }),
    mounted () {
      this.A = this.$store.getters.first.A
      this.K = this.$store.getters.first.K
      if (this.$store.getters.NameOfMatrix.A.length === 0 || this.$store.getters.NameOfMatrix.K.length === 0) {
        console.log('Пустые массивы наименований')
      } else {
        this.items.A = JSON.parse(JSON.stringify(this.$store.getters.NameOfMatrix.A))
        this.items.K = JSON.parse(JSON.stringify(this.$store.getters.NameOfMatrix.K))
      }
    },
    methods: {
      save () {
        if (!this.items.A.includes('') && !this.items.K.includes('')) {
          console.log(this)
          this.$store.dispatch('SaveNameOfMatrix', JSON.parse(JSON.stringify(this.items)))
        }
      }
    }
  }
</script>

<style scoped>

</style>
