<template>
  <v-layout row justify-center wrap>
    <v-flex md3 xs10>
      <p>Ответ: {{$store.getters.NameOfMatrix.A[max[1]]}}</p>
    </v-flex>
  </v-layout>

</template>

<script>
  export default {
    name: 'answer',
    data: () => ({
      answer: null,
      max: []
    }),
    mounted () {
      this.A = Number(this.$store.getters.first.A)
      this.K = Number(this.$store.getters.first.K)
      // let vector = this.$store.getters.getMatrix.Vector
      let weight = this.$store.getters.getMatrix.Weight
      console.log(weight)
      let mass = []
      for (let i = 0; i < this.A; i++) {
        let A = 0
        for (let j = 0; j < this.K; j++) {
          A += weight[j + 1][i] * weight[0][j]
        }
        mass.push(A)
      }
      this.max = [0, 0]
      let self = this
      mass.forEach(function (d, index) {
        if (d > self.max[0]) {
          self.max[0] = d
          self.max[1] = index
        }
      })
      console.log(self.max)
      // A1 = weight[0][0]*weight[1][0] + weight[0][1]*weight[2][0] + weight[0][2]*weight[3][0] + weight[0][3]*weight[4][0]
      // A2 = weight[0][0]*weight[1][1] + weight[0][1]*weight[2][1] + weight[0][2]*weight[3][1] + weight[0][3]*weight[4][1]
    }
  }
</script>

<style scoped>

</style>
