<template>
  <v-form v-model="valid"  v-on:submit.prevent="onSubmit">
    <v-container>
      <v-layout>
        <v-flex xs12 md4 >
          <v-text-field v-model="K" :rules="Rules" name="K" label="Критерии" required></v-text-field>
        </v-flex>

        <v-flex xs12 md4>
          <v-text-field v-model="A" :rules="Rules" name="A" label="А" required ></v-text-field>
        </v-flex>
        <v-flex xs12 md4>
          <v-btn dark color="primary" :disabled="valid !== true" type="submit">Далее</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
  export default {
    name: 'first',
    data: () => ({
      valid: false,
      A: '',
      K: '',
      Rules: [
        v => !!v || 'Обязательно',
        v => Number(v) > 0 || 'Должно быть больше нуля'
      ]
    }),
    created () {
      if (this.$store.getters.first.A > 0 && this.$store.getters.first.K > 0) {
        this.A = this.$store.getters.first.A
        this.K = this.$store.getters.first.K
      }
    },
    methods: {
      onSubmit (sub) {
        let count = 0
        if (this.valid) {
          this.$store.dispatch('addValueFirst', {
            A: this.A,
            K: this.K
          })
          count = Number(this.K) + 1
          console.log(count)
          let Matrix = new Array(Number(this.K))
          for (let i = 0; i < Number(this.K); i++) {
            Matrix[i] = new Array(Number(this.A))
            for (let j = 0; j < Number(this.A); j++) {
              Matrix[i][j] = new Array(Number(this.A))
              for (let k = 0; k < this.A; k++) {
                Matrix[i][j][k] = ' '
              }
            }
          }
          let vector = new Array(count)
          let weight = new Array(count)
          for (let i = 0; i < count; i++) {
            if (i === 0) {
              vector[i] = new Array(Number(this.K))
              weight[i] = new Array(Number(this.K))
              for (let j = 0; j < Number(this.K); j++) {
                vector[i][j] = ' '
                weight[i][j] = ' '
              }
            } else {
              vector[i] = new Array(Number(this.A))
              weight[i] = new Array(Number(this.A))
              for (let j = 0; j < Number(this.A); j++) {
                vector[i][j] = ' '
                weight[i][j] = ' '
              }
            }
          }
          console.log(vector)
          this.$store.dispatch('Matrix', {
            getVar: 'vector',
            Matrix: vector
          })
          this.$store.dispatch('Matrix', {
            getVar: 'weight',
            Matrix: weight
          })
          this.$store.dispatch('Matrix', {
            getVar: 'A',
            Matrix: Matrix
          })
          this.$store.dispatch('incrementLab2', this.$store.getters.lab2 + 1)
        }
      }
    }
  }
</script>

<style scoped>

</style>
