<template>
  <v-layout row justify-center wrap>
    <v-flex xs10>
      <p class="title">Оценка альтернатив по категории: <strong>{{ this.$store.getters.NameOfMatrix.K[NumberK] }}</strong></p>
      <table class="v-datatable v-table theme--light xs6">
        <tr>
          <td v-for="n in $store.getters.NameOfMatrix.A.length+1" v-if="n === 1"></td>
          <td v-for="n in $store.getters.NameOfMatrix.A.length+1" v-if="n !== 1" style="padding-top: 15px">{{ $store.getters.NameOfMatrix.A[n-2] }}</td>
        </tr>
        <tr v-for="i in items.length">
          <td>{{ $store.getters.NameOfMatrix.A[i-1] }}</td>
          <td v-for="j in items[i-1].length">
            <v-text-field v-on:change="reverseNumber(i, j)" :label="'A' + i + j" class="pl-2 pr-2" :disabled='i-1 === j-1 || (i-1) > (j-1)' v-model="items[i-1][j-1]" required ></v-text-field>
          </td>
        </tr>
      </table>
    </v-flex>
    <v-flex xs10>
      <v-btn color="primary" @click="save" :disabled="saved === true">Сохранить</v-btn>
    </v-flex>
  </v-layout>

</template>

<script>
  export default {
    name: 'tableA',
    props: ['NumberK'],
    data: () => ({
      items: [],
      counter: 0,
      valid: false,
      A: null,
      saved: false,
      stateNextButton: null
    }),
    mounted () {
      this.NumberK = Number(this.NumberK)
      this.A = this.$store.getters.first.A
      if (!this.$store.getters.getMatrix.A[this.NumberK][0].includes(' ')) {
        console.log('Массив имеется')
        this.items = JSON.parse(JSON.stringify(this.$store.getters.getMatrix.A[this.NumberK]))
      } else {
        this.items = new Array(this.A)
        for (let i = 0; i < this.A; i++) {
          this.items[i] = new Array(this.A)
          for (let k = 0; k < this.A; k++) {
            if (k === i) {
              this.items[i][k] = 1
            } else {
              this.items[i][k] = ' '
            }
          }
        }
      }
    },
    methods: {
      reverseNumber (i, j) {
        this.saved = false
        this.items[i - 1][j - 1] = Number(this.items[i - 1][j - 1])
        this.items[j - 1][i - 1] = 1 / this.items[i - 1][j - 1]
        this.items = JSON.parse(JSON.stringify(this.items))
      },
      save () {
        let self = this
        this.items.forEach(function (d) {
          if (!d.includes('')) {
            self.valid = true
          }
        })
        if (this.valid) {
          let m = JSON.parse(JSON.stringify(this.$store.getters.getMatrix.A))
          let matrix = JSON.parse(JSON.stringify(this.items))
          m[this.NumberK] = matrix
          let payload = {
            getVar: 'A',
            Matrix: m
          }
          this.$store.dispatch('Matrix', payload)
          payload = null
          this.valid = false
          this.saved = true

          let vector = JSON.parse(JSON.stringify(this.$store.getters.getMatrix.Vector))
          let weight = JSON.parse(JSON.stringify(this.$store.getters.getMatrix.Weight))
          for (let i = 0; i < this.$store.getters.first.A; i++) {
            vector[this.NumberK + 1][i] = this.items[i].reduce(function (sum, current) {
              return sum * current
            })
            vector[this.NumberK + 1][i] = vector[this.NumberK + 1][i] ** (1 / Number(this.A))
          }
          for (let i = 0; i < this.$store.getters.first.A; i++) {
            weight[this.NumberK + 1][i] = vector[this.NumberK + 1][i] / vector[this.NumberK + 1].reduce(function (sum, current) {
              return sum + current
            }, 0)
          }
          this.$store.dispatch('Matrix', {getVar: 'vector', Matrix: vector})
          this.$store.dispatch('Matrix', {getVar: 'weight', Matrix: weight})
          this.$store.dispatch('incrementLab2', this.$store.getters.lab2 + 1)
        }
      }
    }
  }
</script>

<style scoped>

</style>
