<template>
  <v-layout row justify-center wrap>
    <v-flex xs10>
      <p class="title">Оценка критериев</p>
      <table class="v-datatable v-table theme--light xs6">
        <tr>
          <td v-for="n in $store.getters.NameOfMatrix.K.length+1" v-if="n === 1"></td>
          <td v-for="n in $store.getters.NameOfMatrix.K.length+1" v-if="n !== 1" style="padding-top: 15px">{{ $store.getters.NameOfMatrix.K[n-2] }}</td>
        </tr>
        <tr v-for="i in items.length">
          <td>{{ $store.getters.NameOfMatrix.K[i-1] }}</td>
          <td v-for="j in items[i-1].length">
            <v-text-field v-on:change="reverseNumber(i, j)" :label="'K' + i + j"class="pl-2 pr-2" :disabled='i-1 === j-1 || (i-1) > (j-1)' v-model="items[i-1][j-1]" required ></v-text-field>
          </td>
        </tr>
      </table>
    </v-flex>
    <v-flex xs10>
      <v-btn color="primary" @click="save" :disabled="saved === true">Сохранить</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'tableK',
    data: () => ({
      items: [],
      counter: 0,
      valid: false,
      K: null,
      saved: false,
      stateNextButton: null
    }),
    mounted () {
      this.K = this.$store.getters.first.K
      if (this.$store.getters.getMatrix.K.length !== 0) {
        this.items = JSON.parse(JSON.stringify(this.$store.getters.getMatrix.K))
      } else {
        this.items = new Array(this.K)
        for (let i = 0; i < this.K; i++) {
          this.items[i] = new Array(this.K)
          for (let k = 0; k < this.K; k++) {
            if (k === i) {
              this.items[i][k] = 1
            } else {
              this.items[i][k] = ' '
            }
          }
        }
      }
    },
    methods: {
      reverseNumber (i, j) {
        this.saved = false
        this.items[i - 1][j - 1] = Number(this.items[i - 1][j - 1])
        this.items[j - 1][i - 1] = 1 / this.items[i - 1][j - 1]
        this.items = JSON.parse(JSON.stringify(this.items))
      },
      save () {
        let self = this
        this.items.forEach(function (d) {
          if (!d.includes('')) {
            self.valid = true
          }
        })
        if (this.valid) {
          let matrix = JSON.parse(JSON.stringify(this.items))
          let payload = {
            getVar: 'K',
            Matrix: matrix
          }
          this.$store.dispatch('Matrix', payload)
          payload = null
          this.valid = false
          this.saved = true
          let vector = JSON.parse(JSON.stringify(this.$store.getters.getMatrix.Vector))
          let weight = JSON.parse(JSON.stringify(this.$store.getters.getMatrix.Weight))
          for (let i = 0; i < this.$store.getters.first.K; i++) {
            vector[0][i] = this.items[i].reduce(function (sum, current) {
              return sum * current
            })
            console.log('----')
            vector[0][i] = vector[0][i] ** (1 / Number(this.K))
          }
          for (let i = 0; i < this.$store.getters.first.K; i++) {
            weight[0][i] = vector[0][i] / vector[0].reduce(function (sum, current) {
              return sum + current
            }, 0)
          }
          this.$store.dispatch('Matrix', {getVar: 'vector', Matrix: vector})
          this.$store.dispatch('Matrix', {getVar: 'weight', Matrix: weight})
          this.$store.dispatch('incrementLab2', this.$store.getters.lab2 + 1)
        }
      }
    }
  }
</script>

<style scoped>

</style>
