<template>
  <v-app id="app" hide-overlay>
    <v-navigation-drawer v-model="drawer" fixed app hide-overlay stateless>
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img src="../../static/images/avatar.jpg" alt="person-img">
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>Артышко Андрей</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-list dense>
        <v-divider></v-divider>
        <v-list-tile @click="$router.push('/')">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Работа № 2</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile @click="$router.push('/lab3')">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Работа № 3</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Лабораторные работы</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <transition name="slide-x-transition" :duration="500" appear mode="out-in">
        <router-view></router-view>
      </transition>
    </v-content>
    <v-footer height="auto" color="indigo">
      <v-layout justify-center row wrap >
        <v-flex lighten-2 py-3 text-xs-center white--text xs12>
          Powered by <strong>Fulliton</strong>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>

</template>

<script>
  export default {
    name: 'prog2',
    data: () => ({
      drawer: null
    })
  }
</script>

<style>
  html { overflow-y: auto; }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
